/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.container{
  position: relative;
  left: 260px;
  top: 60px;
  width: calc(100% - 260px);
  height: calc(100vh - 60px);
  padding: 15px;
}

.path{
  width: 100%;
  padding: 10px 20px;
  color: #707070;
  margin-bottom: 10px;
}

.path a{
  color: #707070;
  cursor: pointer;
}

.path span{
  font-weight: 600;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px #aaa;
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #4070f4;
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

.user_container{
  position: fixed;
  right: 40px;
  top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px #000000;
  min-width: 250px;
  max-height: 0px;
  z-index: 1111;
  overflow: hidden;
  border-radius: 15px;
  transition: max-height .5s;
}

.open_user{
  max-height: 500px;
}


.profile_items{
  padding: 0 40px;
}

.pitem{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  font-size: 20px;
}

.pitem span{
  transition: all .3s;
}

.pitem i{
  color: var(--blue-color);
}

.pitem p{
  width: 100%;
  font-weight: 500;
  color: var(--blue-color);
}

.pitem:hover p{
  color: black;
}

.pitem:hover i{
  color: black;
}

.pitem:hover span{
  transform: translateX(7px);
} 

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}


.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.menu_title {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}


.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: red;
  font-weight: 600;
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 20px;
  transition: .3s;
}
.bottom span {
  font-size: 18px;
}

.bottom:hover {
  background-color: red;
  color: white;
}

.bottom:hover .bx-log-out{
  transform: translateX(-20px);
}